In [1]:
from psea.psea import PSEA
psea = PSEA()

### prioritized Gene list(top 10) for *Polycystic kidney dysplasia*, `HP:0000113`

In [5]:
pred_df = psea.predict_pkl(['HP:0000113'])
pred_df.head(10)

                rs  size     zscore  rank
gene_id
199221   19.297489    69  16.752734     1
23193    11.475323    33  15.184027     2
23005     6.678761    13  15.052253     3
27031    45.149714   400  14.014628     4
203286   11.196611    41  13.037558     5
7369     17.539856    93  12.717537     6
5311     11.608017    47  12.480750     7
8204      6.445348    17  12.426658     8
5310     11.708736    50  12.138709     9
5314     19.708896   127  11.892136    10

### prioritized Gene list(top 10) for HPO `HP:0003100`, `HP:0006504`, `HP:0002107`, `HP:0001679`, `HP:0012019` with additional data that how each specified HPO term contributes to final score.

In [6]:
pred_df2 = psea.predict_pkl_verbose(['HP:0003100', 'HP:0006504', 'HP:0002107', 'HP:0001679', 'HP:0012019'])
pred_df2.head(10)

,HP:0001679,HP:0002107,HP:0003100,HP:0012019,size,zscore,gene_name,rank
gene_id,,,,,,,,
59,27.380088,1.969395,0.605968,0.617309,277,30.572760,ACTA2,1
4629,27.073332,1.623815,0.351366,0.520743,313,29.569255,MYH11,2
5592,22.668318,2.042739,0.371483,0.359216,161,25.441755,PRKG1,3
4015,20.980826,1.985891,0.555361,0.544861,212,24.066940,LOX,4
4091,21.086063,0.512392,0.512392,0.512392,82,22.623238,SMAD6,5
8076,18.372973,1.972426,0.708679,0.452856,193,21.506933,MFAP5,6
7046,17.765998,1.631622,0.605935,0.332470,467,20.336024,TGFBR1,7
4144,17.286447,2.184338,0.418104,0.405140,146,20.294028,MAT2A,8
2200,11.282898,2.023687,2.055628,4.883134,1577,20.245348,FBN1,9
7042,15.625880,2.927449,0.609168,0.429601,301,19.592098,TGFB2,10

### columns
- gene_id: Gene entriz ID
- rs: RawScore
- size: HPO set size (number of HPOs associated with Gene) x (number of the specified HPOs)
- zscore: normalized score
- rank: Rank number